.home{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    /* background-color: aquamarine; */
}

.home__items{
    padding-bottom: 5em;
}

.home__title{
    /* width: 676px; */
    width: 100%;
    height: 121px;
    background-image: url('../../img/pokedex.svg');
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
}

.home__hi{

font-style: normal;
font-weight: 700;
font-size: 2.5rem;
line-height: 61px;
/* display: flex;
align-items: center; */
text-align: center;
color: #FE1936;
padding: 1em 0 0 0;

}

.home__please {
text-align: center;
}

.home_footer{
    background-color: gold;
    max-height: 200px;
    height: 150px;
    width: 1440px;
    background-image: url('../../img/homeFooter.svg');
    background-position:bottom;
    background-size:contain; 
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0;
}