.pokedex{
    background-color: rgb(255, 255, 255);
}
.pokedex__header{
    width: 100vw;
    height:260px;
    background-image: url('../../img/headerPokeListImg.svg');
    background-position:center;
    background-repeat: no-repeat;
    background-size:cover;
    position: relative;
}

.pokedex__text-container{
    background-image: url("../../img/pokedexHeaderForm.svg");  
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    position: absolute;
    top:0;
    left: 0;
    height: 75%;
    width: 40%;
    border: 0;
    margin-left: 4em;
      
}

@media (min-width: 100px){
    .pokedex__header{
        background-position: right;
        width: 100vw;
        height: 105px;
        background-size: cover;
        
    }

    .pokedex__text-container{
        margin-left: 2.5em;
        height: 92%;
        width: 45%;
        
    }
}

@media (min-width: 768px){
    .pokedex__header{
        background-position: right;
        width: 100vw;
        height: 165px;
        min-height: 100px;
        
    }
    .pokedex__text-container{
        height: 88%;
    }
}

@media (min-width: 992px){
    .pokedex__header{
        background-position: right;
        width: 100vw;
        height: 165px;
        min-height: 120px;
    }
    .pokedex__text-container{
        height: 85%;
    }
}

@media (min-width: 1200px){
    .pokedex__header{
        background-position: right;
        width: 100vw;
        height: 188px;
        min-height: 120px;
    }
    .pokedex__text-container{
        height: 80%;
    }
}

@media (min-width: 1400px){
    .pokedex__header{
        background-position: right;
        width: 100vw;
        height: 252px;
        min-height: 120px;
       
    }
}

.pokedex__welcome{
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
}
.pokedex__welcome span{
    font-weight: 700;
    color: #FE1936;
}
.pokedex__form-and-pokecontainer{
    /* background-color: aquamarine; */
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}