.pagination__container{
    width: 100%; 
    /* background-color: blue; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* height: 150px; */
    align-items: center; 
    margin-top: 2em;
    margin-bottom: 1em;
    gap: 2em;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}

.page-item{
    padding: 10px 16px;
    /* width: px; */
}

.pagination{
    width: 480px;
    display: flex;
    justify-content: center;
    
}

.pagination__container button{
    background-color: red;
    color: white;
    border-radius: .5em;
    font-size: 1.5rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)

}